<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>InicioSesion</servlet-name>
        <servlet-class>Servlet.InicioSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarUsuarios</servlet-name>
        <servlet-class>Servlet.RegistrarUsuarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarEncuesta</servlet-name>
        <servlet-class>Servlet.RegistrarEncuesta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BorrarEncuesta</servlet-name>
        <servlet-class>Servlet.BorrarEncuesta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistraPregunta</servlet-name>
        <servlet-class>Servlet.RegistraPregunta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BorraPregunta</servlet-name>
        <servlet-class>Servlet.BorraPregunta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistraOpcion</servlet-name>
        <servlet-class>Servlet.RegistraOpcion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BorraOpcion</servlet-name>
        <servlet-class>Servlet.BorraOpcion</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InicioSesion</servlet-name>
        <url-pattern>/Iniciar.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarUsuarios</servlet-name>
        <url-pattern>/nuevousuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarEncuesta</servlet-name>
        <url-pattern>/RegistraEncuesta.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BorrarEncuesta</servlet-name>
        <url-pattern>/BorraEncuesta.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistraPregunta</servlet-name>
        <url-pattern>/RegistraPregunta.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BorraPregunta</servlet-name>
        <url-pattern>/BorraPregunta.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistraOpcion</servlet-name>
        <url-pattern>/RegistraOpcion.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BorraOpcion</servlet-name>
        <url-pattern>/BorraOpcion.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            15
        </session-timeout>
    </session-config>
</web-app>
